
$body-bg: #fff;
$body-color: mintcream;
$font-family-base: 'Raleway', sans-serif;

@mixin padding($values...) {    
    @each $var in $values {
        padding: #{$var};
    }
}

@mixin margin($values...) {    
    @each $var in $values {
        margin: #{$var};
    }
}


/***********************Header logo section***************************/

.removespace{
    @include margin(0px);
	@include padding(0px);
}

.logo-bg-color{
    // background-image: url(../img/banner-bg.jpg);
    background-color: $body-color;

}




.removespace{
   @include padding(0px);
   @include margin(0px);
}

.logo-bg-color{
    // background-image: url(../img/banner-bg.jpg);
    background-color: $body-color;
    
}


/***********************Header navigation section***************************/
$nav-tabs-link-active-color: red;
.navitem{
    color: black;
    font-style:italic;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
}

.fa-settingsicon{
    position:absolute;
    right: 10px;
    color: black;
    padding-top: 10px;
}

/************************* hero element section*********************/

.heroelement{
     @include margin(10px);
}


/********************************* Main side navbar section*****************/

.sidenavbarFeature{
    text-align: left;
    margin: 10px;
    font-weight: 500;
    color: black;
    background-color:#34700f;
    
}

#sidenavbarFeature > .nav-link{
    text-align: center;
    font-style:italic;
    color: white;
}

/********************************* Main card section **********************/     
  $card-columns-margin : 10px;
  $card-columns-margin: 10px;

.card{
  padding: 10px;
  color: black;
}

#feature-one > #cardfeature {
    text-align: center;
    justify-content: center;
    margin: 0;
}


/************************  Footer section *************************/


footer > div {
    background-image: url(../img/pattern_bg.jpg);
}

#footer-row1{
     @include margin(10px,0px,0px,0px);
}

#footer-row2{
     @include margin(0px);
}

 .footersection{
    text-align: center;
    font-size: 14px;
    font-style:normal;
    text-align: center;
    color: white;
    @include margin(15px);

    }

 .circle-icon { 
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-color: white;
        border-width: medium;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        font-size: 30px;
        margin: 0px;
        }

.socialiconsalign{
        justify-content: center;
        align-items: center;
        margin: auto;
    }

.socialicons{
    margin:auto;
    padding:40px;
}

.fa-home{
    background:lightcoral;
}

.fa-phone{
    background:limegreen;
}

.fa-pencil{
    background:dodgerblue;
}

.footer-icon-design{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#34700f;
    font-size: 20px;
    padding-left: 10px;
}


#socialicons > #facebooklink{
 color: darkblue;
}

#socialicons > #twitterlink{
    color: white;
}

#socialicons > #googlelink{
    color: red;
}

#socialicons > #linkedinlink{
    color: blue;
}

/*************************************Copy right section*******************/

.copyright{
    text-align:center;
}

.copyright p{
    color: white;
    text-align: center;
    font-size: 12px;
}


/************************************** modal *****************************/

.modal-header > #exampleModalLabel {
    color: black;
}




